@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family: "DM Sans";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


:root {
	--_darkerblue: rgb(6, 51, 82);
	--_darkblue: rgba(19, 79, 119, 0.7);
	--_lightblue: rgb(59, 157, 222);
	--_textcolor: rgb(240, 248, 255);
	--_bodybc: rgb(240, 248, 255);
	--_boldtext: rgb(22, 87, 131);
}

#body {
	background-color: var(--_bodybc);
}

/*Styling for HEADER starts HERE*/

#nav_bar {
	padding-inline:6vw;

	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: white;
	box-shadow: .4rem .1rem  1.3rem rgba(0, 0, 0, 0.2);

	position: sticky;
	top: 0;
	
	padding-block: .05rem;
}

#logo_name {
	display: flex;
	align-items: center;
}

#logo_img {
	width: 4.2rem;
}

#logo {
	width: 100%;
}

#site_name {
	display: block;
	font-size: 1.6rem;
	font-weight: 600;

	text-decoration: none;
	color: var(--_boldtext);
}

#nav_list {
	list-style-type: none;
	text-align: right;
	width: 60%;
}

#nav_list li {
	display: inline-block;
	padding-inline: 1rem;
}

#nav_list li .nav_links {
	position: relative;
	font-size: 1.1rem;
	font-weight: 600;
	text-decoration: none;
	letter-spacing: .1rem;
	color: var(--_boldtext);

	transition: all .3s linear;
}

#nav_list li .nav_links::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -.3rem;
	background-color: var(--_boldtext);
	height: .2rem;
	width: 0%;

	transition: all .4s ease-in-out;
}


#nav_list li .nav_links:hover::after {
	color: var(--_boldtext);
	width: 100%;
}

.dark{
	background-color: var(--_darkerblue);
	padding: 10px 11px;
	color: white;
	border: 1px solid var(--_textcolor);
	border-radius: 100%;
} 


#bars {
	display: none;
	cursor: pointer;
}

#bars .bars1 .top {
	height: .5vh;
	width: 2rem;
	background-color: #165783;
}

#bars .bars1 .middle {
	height: .5vh;
	width: 2rem;
	margin-block: .3rem;
	background-color: #165783;
}

#bars .bars1 .bottom {
	height: .5vh;
	width: 2rem;
	background-color: #165783;
}

@keyframes slide_in_nav {
	0% {
		opacity: 0;
		transform: translateY(4vh);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.nav_list2 {
	display: none;
	position: absolute;
	list-style-type: none;
	left: 0;
	bottom: -27vh;
	/* padding-inline:7vw; */

	/* display: flex; */
	/* align-items: center; */
	justify-content: space-between;
	flex-direction: column;
	justify-content: end;
	background-color: white;

	animation: slide_in_nav .6s ease-in-out;
	/* background-color: rebeccapurple; */
}



.nav_list2 li{
	/* padding-block: .5rem ; */
	text-align: left;
}

.nav_list2 li a {
	display: block;
	padding: .7rem .8rem;
	font-size: 1.2rem;
	font-weight: 700;
	text-decoration: none;
	color: rgb(22, 87, 131);
	

}

.nav_list2 li a:hover{
	background-color: rgb(22, 87, 131);
	color: aliceblue;
}


.show{
	display: block;
}

/*Styling for HEADER ends HERE*/





/*Styling for SECTION Footer starts HERE*/
#footer {
	padding-top: 6vh;
	padding-inline: 7vw;
}

#footer_sub {
	display: flex;
	justify-content: space-between;

	padding-bottom: 2rem;
}

#sub {
	font-size: 1.3rem;
}

#email {
	font-size: 1.1rem;
	padding: .8rem .5rem;
	border-radius: .3rem;

	margin-bottom: 1rem;
	border: 0;
	background-color: rgba(22, 87, 131, 0.2);
}

#email:focus {
	outline: 2px dashed  #165783;
	
}

#email::placeholder {
	font-size: .9rem;
	font-weight: 600;
}

#btn_sub {
	display: block;
	font-size: 1rem;
	padding: 1rem;
	border-radius: .3rem;

	cursor: pointer;
	background-color: #3b9dde;
	color: aliceblue;
	border: none;

	transition: all .3s linear;
}

#btn_sub:hover {
	background-color:  #165783;
}

#follow {
	font-size: 1.3rem;
	padding-bottom: 1rem;
}

#socials ul {
	list-style-type: none;
}


#socials ul li {
	display: inline-block;
	padding-right: 1rem;
}

#socials ul li:nth-of-type(5) {
	padding: 0;
}


.social_icon {
	text-decoration: none;
	color: #165783;
	padding: .6rem;
	border: 1px solid #165783;
	border-radius: 50%;

	transition: all .3s linear;
}

.social_icon:hover {
	background-color: #165783;
	color: aliceblue;
}

#socials ul li:nth-of-type(5) .social_icon {
	padding-inline: .8rem;
}


#copyright {
	padding-block: 1rem;
	text-align: center;
	font-size: .9rem;
	font-style: italic;
	color: gray;

}

#copy {
	padding-inline: 2rem;
}
/*Styling for SECTION Footer endss HERE*/


@media only screen and (max-width: 1210px) {

	.col-ld-1 {width: 8.33%;}
	.col-ld-2 {width: 16.66%;}
	.col-ld-3 {width: 25%;}
	.col-ld-4 {width: 33.33%;}
	.col-ld-5 {width: 41.66%;}
	.col-ld-6 {width: 50%;}
	.col-ld-7 {width: 58.33%;}
	.col-ld-8 {width: 66.66%;}
	.col-ld-9 {width: 75%;}
	.col-ld-10 {width: 83.33%;}
	.col-ld-11 {width: 91.66%;}
	.col-ld-12 {width: 100%;}

	#nav_list li .nav_links {
		font-size: .9rem;
	}
}


@media only screen and (max-width: 1080px) {

	.col-md-1 {width: 8.33%;}
	.col-md-2 {width: 16.66%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.33%;}
	.col-md-5 {width: 41.66%;}
	.col-md-6 {width: 50%;}
	.col-md-7 {width: 58.33%;}
	.col-md-8 {width: 66.66%;}
	.col-md-9 {width: 75%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100%;}

	#nav_bar {
		padding-inline: 6vw;
	}

	#nav_list {
		display: none;
	}

    #bars {
        display: block;
    }

	.nav_list2 {
		bottom: -13.5vh;
	}
}

@media only screen and (max-width: 1030px) {
	.nav_list2 {
		bottom: -11.5rem;
	}
}


@media only screen and (max-width: 915px) {
	.nav_list2 {
		bottom: -11.5rem;
	}
}


/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 768px) {

	.col-sd-1 {width: 8.33%;}
	.col-sd-2 {width: 16.66%;}
	.col-sd-3 {width: 25%;}
	.col-sd-4 {width: 33.33%;}
	.col-sd-5 {width: 41.66%;}
	.col-sd-6 {width: 50%;}
	.col-sd-7 {width: 58.33%;}
	.col-sd-8 {width: 66.66%;}
	.col-sd-9 {width: 75%;}
	.col-sd-10 {width: 83.33%;}
	.col-sd-11 {width: 91.66%;}
	.col-sd-12 {width: 100%;}

	.nav_list2 {
		bottom: -18.5vh;
	}

	#site_name {
		font-size: 2rem;
	}

/*Styling for SECTION footer starts HERE*/
	#footer_sub {
		flex-direction: column;
	}

	#sub {
		padding-bottom: 4vh;
	}

/*Styling for SECTION footer ends HERE*/
}

@media only screen and (max-width: 769px) {
	.nav_list2 {
		bottom: -11.5rem;
	}
}

@media only screen and (max-width: 550px) {
	#site_name {
		font-size: 1.5rem;
	}

	.nav_list2 {
		bottom: -10rem;
	}

	.nav_list2 .nav_links {
		font-size: .9rem;
	}
}



/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {

	.col-esd-1 {width: 8.33%;}
	.col-esd-2 {width: 16.66%;}
	.col-esd-3 {width: 25%;}
	.col-esd-4 {width: 33.33%;}
	.col-esd-5 {width: 41.66%;}
	.col-esd-6 {width: 50%;}
	.col-esd-7 {width: 58.33%;}
	.col-esd-8 {width: 66.66%;}
	.col-esd-9 {width: 75%;}
	.col-esd-10 {width: 83.33%;}
	.col-esd-11 {width: 91.66%;}
	.col-esd-12 {width: 100%;}


	#site_name {
		font-size: 1.4rem;
	}
	
	.nav_list2 {
		bottom: -11.7rem;
	}
}

@media only screen and (max-width: 420px) {
	#site_name {
		font-size: 1.4rem;
	}
	.nav_list2 {
		bottom: -20.5vh;
	}
}

@media only screen and (max-width: 416px) {
	.nav_list2 {
		bottom: -11.4rem;
	}
}

@media only screen and (max-width: 412px) {
	.nav_list2 {
		bottom: -10rem;
	}
}

@media only screen and (max-width: 380px) {
	.nav_list2 {
		bottom: -10.2rem;
	}

	.nav_list2 .nav_links {
		font-size: .9rem;
	}
}

@media only screen and (max-width: 350px) {
	#site_name {
		font-size: 1.2rem;
	}
	.nav_list2 {
		bottom: -9.5rem;
	}

	.nav_list2 .nav_links {
		font-size: .8rem;
	}
}

@media only screen and (max-width: 325px) {
	.nav_list2 {
		bottom: -9.5rem;
	}
}
